/* styling car and clothing pages */

.grid-main {
    display: grid;
    grid-template-areas: 'emptyleft car-one car-two car-three emptyright'
                         'emptyleft car-one-kop car-two-kop car-three-kop emptyright'
                         'emptyleft car-one-sub car-two-sub car-three-sub emptyright';
    grid-template-rows: minmax(50px, auto);
    grid-template-columns: repeat(5, 1fr);
}

.empty-left { grid-area: emptyleft; }
.empty-right { grid-area: emptyright;}
.car-one { grid-area: car-one; }
.car-two { grid-area: car-two; }
.car-three { grid-area: car-three; }
.car-one-kop { grid-area: car-one-kop; }
.car-two-kop { grid-area: car-two-kop; }
.car-three-kop { grid-area: car-three-kop; }
.car-one-sub { grid-area: car-one-sub; }
.car-two-sub { grid-area: car-two-sub; }
.car-three-sub { grid-area: car-three-sub; }

.car-one, .car-two, .car-three {
    margin: 15px;
}

.car-one-kop, .car-two-kop, .car-three-kop {
    font-size: 20px;
    line-height: 22px;
    margin: 10px 15px;
    padding: 0;
}

.car-one-sub, .car-two-sub, .car-three-sub {
    font-size: 14px;
    line-height: 22px;
    margin: 5px 15px 25px 15px;
    padding: 0;
}