/* styling navigation bar */

nav img {
    float: left;
    margin: 10px 10px 10px 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(69, 97, 123);
    font-weight: bold;
}
