/* styling */

body {
    font-family: 'Lato', sans-serif;
}

.grid-container {
    margin: 0 auto;
    width: 1100px;
    display: grid;
    grid-template-rows: minmax(50px, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'menu menu menu menu menu'
                         'banner banner banner banner banner'
                         'empty fade nivo bonus empty'
                         'footer footer footer footer footer';
}

nav {
    background-image: url(../img/header_bg.png);
    width: 1100px;
    grid-row: 1/2;
    grid-column: 1/4;
}

nav img {
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
}

header {
    background-image: url(../img/banner_bg.png);
    width: 1100px;
    grid-row: 2/3;
    grid-column: 1/4;
}

main {
    margin: 0 auto;
    width: 907px;
    grid-row: 3/4;
    grid-column: 1/6;
}

/* .images {
    margin: 0 auto;
    width: 900px;
} */

.empty-side1 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.grid-img-fade {
    grid-row: 3/4;
    grid-column: 2/3;
    /* margin-left: 100px; */
}

h2 {
    font-size: 20px;
    line-height: 22px;
    display: inline-block;
}

p {
    display: inline-block;
}

.grid-text-fade, .grid-text-nivo, .grid-text-bonus {
    width: 300px;
}

.grid-img-nivo {
    grid-row: 3/4;
    grid-column: 3/4;
}

.grid-img-bonus {
    grid-row: 3/4;
    grid-column: 4/5;
}

.empty-side2 {
    grid-row: 3/4;
    grid-column: 5/6;
}

footer {
    background-image: url(../img/footer_bg.png);
    width: 1100px;
    grid-row: 4/5;
    grid-column: 1/4;
}