body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* grid voor de gehele pagina */
.grid-container {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'header'
                         'banner'
                         'main'
                         'footer';
    grid-template-rows: minmax(50px, auto);
    grid-template-columns: repeat(1, 1fr);
}

nav { grid-area: header; }
header { grid-area: banner; }
main { grid-area: main; }
footer { grid-area: footer; }

nav {
    background-image: url(../img/header_bg.png);
    height: 115px;
}

header {
    background-image: url(../img/banner_bg.png);
    height: 425px;
}

header img {
    margin: 25px 25px 25px 50px;
    float: left;
}

header h1 {
    font-size: 26px;
    line-height: 30px;
    margin: 40px 0 0 0;
    color: #fff;
    font-weight: 100;
}

header p {
    font-size: 14px;
    line-height: 20px;
    margin: 15px 50px 15px 0;
    color: #fff;
}

/* styling main */
main {
    height: auto;
}

/* grid voor enkel de main */
.grid-main {
    display: grid;
    grid-template-areas: 'emptyleft fade nivo bonus emptyright'
                         'emptyleft fadekop nivokop bonuskop emptyright'
                         'emptyleft fadesub nivosub bonussub emptyright';
    grid-template-rows: minmax(50px, auto);
    grid-template-columns: repeat(5, 1fr);
}

.empty-left { grid-area: emptyleft; }
.empty-right { grid-area: emptyright;}
.fade { grid-area: fade; }
.nivo { grid-area: nivo; }
.bonus { grid-area: bonus; }
.fade-kop { grid-area: fadekop; }
.nivo-kop { grid-area: nivokop; }
.bonus-kop { grid-area: bonuskop; }
.fade-sub { grid-area: fadesub; }
.nivo-sub { grid-area: nivosub; }
.bonus-sub { grid-area: bonussub; }

.fade, .nivo, .bonus {
    margin: 15px;
}

.fade-kop, .nivo-kop, .bonus-kop {
    font-size: 20px;
    line-height: 22px;
}

.fade-kop, .nivo-kop, .bonus-kop {
    margin: 10px 15px;
    padding: 0;
}

.fade-sub, .nivo-sub, .bonus-sub {
    font-size: 14px;
    line-height: 22px;
}

.fade-sub, .nivo-sub, .bonus-sub {
    margin: 5px 15px 25px 15px;
    padding: 0;
}

footer {
    background-image: url(../img/footer_bg.png);
    height: 50px;
    margin: auto 0;
}

footer p {
    font-size: 14px;
    text-align: center;
    color: #fff;
}
